.c-categories-featured-content-wrapper {
    display: flex;
    flex-direction: column;
    .c-categories-title {
        padding-top: 60px;
        padding-bottom: 80px;
        color: $black;
        text-align: center;
        width: 40%;
        margin: auto;
        h1 {
            font-size: 39px;
            font-weight: 400;
            display: flex;
            justify-content: center;
            position: relative;
        }
         ::after {
            position: absolute;
            top: 45px;
            display: flex;
            content: "";
            margin-top: 24px;
            margin-bottom: 24px;
            background-color: #3083c6;
            height: 1px;
            width: 50px;
            @include media(">=phone", "<=tablet") {
                display: none;
            }
        }
    }
    .c-categories-description {
        padding-bottom: 60px;
        color: $black;
        text-align: center;
        width: 60%;
        margin: auto;
        p {
            font-size: 16px;
            font-weight: 400;
            display: flex;
            justify-content: center;
            position: relative;
        }
    }
}

.c-categories-tiles__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    @include media(">=phone", "<tablet") {
        flex-direction: column;
    }
    @include media(">phone", "<=tablet") {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .c-categories-tile {
        display: flex;
        flex-direction: column;
        width: 22.75%;
        margin-bottom: 35px;
        @include media(">phone", "<=tablet") {
            width: 46%;
        }
        @include media(">=phone", "<tablet") {
            width: unset;
        }
        .c-categories-tile_image {
            width: 100%;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
        }
        .c-categories-tile_title {
            background: darken($gray, 80);
            color: $white;
            padding: 10px;
            border-bottom-right-radius: 7px;
            border-bottom-left-radius: 7px;
            word-break: break-word;
            // min-height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}