.promo-banner-wrapper {
    border: 1px dashed $blue;
    text-align: center;
    margin: 40px 0 40px 0;
    background: $gray;
    color: $black;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    width: 100%;
    p {
        font-size: 26px;
        font-weight: 100;
        margin: 0;
        padding: 0;
        line-height: 1.5em;
        @include media("<desktop") {
            font-size: 24px;
        }
        @include media('<tablet') {
            font-size: 15px;
            padding: 0px 20px;
        }
    }
}